.container {
  
    padding: 0 1rem;
    margin: auto;
    width: 92%;
  }
  
  @media (min-width: 1200px){
  .container{
   
  }
  }
  .header {
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    */
   
  }

  
  .headerImage{
  
  }
  
  .headerHomeImage {
    width: 120px;
    margin-top: 7px;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .navigation{
    font-size: 14px !important;
  }